<div class="container mt-5">
  <div class="text-center my-3">
    <h1>Congratulations!!!</h1>
    <h3>Quest Complete! Please try the next quest!!</h3>
  </div>
  <div class="text-center">
      <%= image_tag "億万長者.png", alt: "complete-image", :size => '600x600' %>
   </div>
</div>