<div class="container mt-5">
  <div class="d-flex align-item-center justify-content-center" style="height:500px">
    <h3>Congratulationsï¼</h3>
    <h5>Quest Complete!Please try the next quest!!</h5>
  </div>
</div>