<div class="container">
  <h3 class="my-5"><i class="fa-solid fa-users"></i> Members list</h3>
    <div class="row d-flex justify-content-center">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Member ID</th>
            <th scope="col">Nickname</th>
            <th scope="col"></th>
            <th scope="col">Exchange amount</th>
            <th scope="col">Application status</th>
          </tr>
        </thead>

        <tbody class="table-primary">
          <% @members.each do |member| %>
          <tr>
            <td scope="row">
              <%= member.id %>
            </td>
            <td class="text-left">
             <%= link_to member.nickname, admin_member_path(member) %>
            </td>
            <td></td>
            <td></td>


          </tr>
          <% end %>
        </tbody>
      </table>
      <%#= paginate @members, theme: 'bootstrap-5' %>
    </div>
</div>