<div class="container">
  <div class="container mt-5">
    <div class="text-center">
      <h1 class="title mt-3"><strong><span style= 'color: #2C7CFF;'>H</span><span style= 'color: #7B3CFF;'>e</span><span style= 'color: #FF1A6F;'>l</span><span style='color: #FF570D;'>p</span><span style='color: #BEFF15;'>W</span><span style='color: #13EEFF;'>a</span><span style='color: #2C7CFF;'>n</span><span style='color: #7B3CFF;'>t</span><span style='color: #FF1A6F;'>e</span><span style='color: #FF570D;'>d</span><span style='color: #FF1A6F;'>!!</span></strong></h1>
      <p class="mb-5"><strong>～Let's start the quest～</strong></p>
      <h3 class="subtitle my-5"><strong><span style= 'color: #2C7CFF;'>H</span><span style= 'color: #7B3CFF;'>e</span><span style= 'color: #FF1A6F;'>l</span><span style='color: #FF570D;'>p</span><span style='color: #BEFF15;'>W</span><span style='color: #13EEFF;'>a</span><span style='color: #2C7CFF;'>n</span><span style='color: #7B3CFF;'>t</span><span style='color: #FF1A6F;'>e</span><span style='color: #FF570D;'>d</span><span style='color: #FF1A6F;'>!!</span></strong> ではクエストに挑戦してくれる人を大募集中！！<br>
      お手伝いクエストに挑戦して<span style='color: gold;'><strong>Gold</strong></span>を<span style='color: red;'><strong>GET</strong></span>しようぜ！</h3>
    </div>
  </div>
   <div class="text-center">
      <%= image_tag "quest.png", alt: "quest-image", :size => '500x500' %>
   </div>
</div>  