<div class="main-container">
  <div class="container mt-5">
    <div class="text-center">
      <h3 class="my-3"><strong>Help Wanted!!</strong></h3>
      <h5 class="mt-5">Help Wanted ではクエストに挑戦してくれる人を大募集中！！<br>
      お手伝いクエストに挑戦してＧ(ゴールド)ＧＥＴしようぜ！</h5>
    </div>
  </div>
</div>  