<%= render "member/homes/top_for_logout" %>

<div class="container">
  <div class="container mt-2">
    <div class="text-center">
      <p>家庭内通貨<span style='color: gold;'><strong>【G -ゴールド-】</strong></span>を使用したお手伝いサイトです。投稿されたクエストをクリアすることにより、<span style='color: gold;'><strong>【G】</strong></span>が<br>
      報酬として付与されます。この<span style='color: gold;'><strong>【G】</strong></span>は現金へ換金することができます。ログイン後、右上の <span style= 'color: #FF1A6F;'>Exchange Request</span> <br>
      から換金したい金額を入力して換金のお願いをしましょう!!　※ご利用は計画的に。</p>
    </div>
  </div>
</div>