$light: #60c1d9;
$secondary: #60c1d9;
$success: #e2c788;
$info: #60c1d9;
$warning: #60c1d9;
$danger: #CC496B; 
$light: #60c1d9;
$dark: #284063;

.form-control:focus {
  border-color: $success;
  box-shadow: 0 0 0 0.1rem $success;
}


@import "font-awesome";
@import "@fortawesome/fontawesome-free/scss/fontawesome";

header, nav, footer {
 font-family: 'Fredoka One', cursive, sans-serif;
}

.container {
 font-family: 'Fredoka One', cursive, sans-serif;
 background-color: light-gray;
}

